# docker-compose up -d --build 
# docker-compose up -d --build bff
# docker exec <コンテナ名> <コマンド>  でコンテナ内でコマンドを実行できる

# --build：contextで指定されたディレクトリ(Dockerfile,nginx.conf,ソースコード)を取り込み、イメージを作成
# -d：デタッチド(バックグラウンド)で起動

version: "3.9"

services:

  front:
    build:
      context: ./frontend # frontend/からイメージを作成
    image: climbly/front:dev # 参照するイメージ名はclimbly/front:devという名前(タグ)で、無ければ新規作成
    container_name: climbly-front # コンテナ名は自動命名せず明示的に指定
    ports:
      - "8080:80"   # dev(8080:80) per service_nw.md
    restart: unless-stopped # コンテナが落ちた場合に自動再起動、ユーザーが明示停止した場合は再起動しない
    
    # 静的ファイルは「ボリュームマウント」すれば即反映（Nginxはファイルを都度読む）
    # nginx.confはreloadで反映
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    
    # BFF へは Nginx から http://bff:80/bff/ でプロキシします
    networks:
      - climbly-net


  bff:
    build:
      context: ./bff
    image: climbly/bff:dev
    container_name: climbly-bff
    ports:
      - "8081:80"
    restart: unless-stopped
    networks:
      - climbly-net


  user-service:
    build:
      context: ./user-service
    image: climbly/user-service:dev
    container_name: climbly-user-service
    environment: # 環境変数
      - JWT_SECRET=dev-secret
      - JWT_EXPIRE_DAYS=7
      - DB_HOST=climbly-user-db
      - DB_PORT=5432
      - DB_NAME=user_db
      - DB_USER=climbly
      - DB_PASSWORD=climbly
    ports:
      - "8083:80" # dev(8083:80)
    restart: unless-stopped
    networks:
      - climbly-net


  task-service:
    build:
      context: ./task-service
    image: climbly/task-service:dev
    container_name: climbly-task-service
    environment:
      - JWT_SECRET=dev-secret
      - JWT_EXPIRE_DAYS=7
      - DB_HOST=climbly-task-db
      - DB_PORT=5432
      - DB_NAME=task_db
      - DB_USER=climbly
      - DB_PASSWORD=climbly
    ports:
      - "8082:80" # dev(8082:80)
    restart: unless-stopped
    networks:
      - climbly-net


  record-service:
    build:
      context: ./record-service
    image: climbly/record-service:dev
    container_name: climbly-record-service
    environment:
      - JWT_SECRET=dev-secret
      - JWT_EXPIRE_DAYS=7
      - DB_HOST=climbly-record-db
      - DB_PORT=5432
      - DB_NAME=record_db
      - DB_USER=climbly
      - DB_PASSWORD=climbly
    ports:
      - "8084:80" # dev(8084:80)
    restart: unless-stopped
    networks:
      - climbly-net


  # subtask-service:
  #   # TODO: 実装後に追加。dev(8085:80)


networks:
  climbly-net:
    name: climbly-net
    driver: bridge
